.change-password-form {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.change-password-title {
    margin-bottom: 30px;
    margin-top: 50px;
}
.form-control {
    font-size: 14px;
    margin-bottom: 5px;
}